* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
}

main {
    margin-top: 90px
}

footer {
    height: 45px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none
}

.navbar {
    position: fixed;
    background: #fff;
    border-bottom: 1px solid rgba(151,151,151,0.5);
    padding: 24px 24px 0 24px;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar .top {
    display: flex;
    align-items: center;
}

.navbar .top a {
    color: #5f6368;
    font-family: "Product Sans";
    font-weight: 400;
    font-size: 22px;
    margin: 0 7px;
}

.navbar .list {
    padding: 15px 15px 6px 0;
}

.navbar .list ul {
    display: flex;
}

.navbar .list ul li {
        margin: 0 42px 0 0;
}

.navbar .list ul li:last-of-type {
    flex-grow: 1;
    margin-right: 0;
    text-align: right;
}

.navbar .list ul li a {
    color: #5f6368;
    font-family: "Google Sans Bold";
    font-size: 15px;
    font-weight: 500;
}

.navbar .list ul li:nth-of-type(5) a {
    color: #3367d6;
    padding-bottom: 3px;
    border-bottom: 3px solid #3367d6;
}

.faq {
    padding: 32px;
    max-width: 978px;
    margin: 0 auto;
}

.faq .article h2 {
    color: #3c4043;
    font-family: 'Google Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 64px 0 0 0;
}

.faq .article p {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
    padding-top: 20px;
    margin: 10px 0;
}

.faq .article p a {
    color: #3367d6;
}

.faq .article p:first-of-type {
    margin: 0;
}

.footer {
    background: #f5f5f5;
    border-top: 1px solid #eee;
    font-size: 11px;
    list-style: none;
    padding: 10px 15px 10px 15px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 978px;
    padding: 0 32px;
}

.footer .container ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .container ul li {
    padding-right: 10px;
}

.footer .container ul li a {
    color: rgba(61, 61, 61, .8);
    font-family: 'Roboto';
}

.footer .container .language-select img {
    vertical-align: middle;
    padding-right: 3px;
}

@font-face {
    font-family: "Product Sans";
    src: url("https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2") format("woff2");
}

@font-face {
    font-family: "Google Sans";
    src: url("https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2") format("woff2");
}

@font-face {
    font-family: "Google Sans Bold";
    src: url("https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2") format("woff2");
}

@media screen and (max-width: 1255px) {
    .navbar {
        padding: 24px;
    }
    .navbar .list {
        display: none;
    }
}
